{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <h1>Сгенерировать значение</h1><br>
    <form method = "get" action="generate">
        {% csrf_token %}
        <input type="number" class="mt-2 me-4" name="from" placeholder ="От">
        <input type="number" class="mt-2" name="to" placeholder="До"><br><br>
        <button type="submit" class="btn btn-success mt-2" >Сгенерировать</button>
    </form>
    <br>
    <h4>Ваше число - {{ number }}</h4><br>
    <h0>id генерации - {{ kef }}</h0>


{% endblock %}